@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: hsl(var(--hue), 100%, 20%);
  font-family: "Patua One", cursive;
  background-image: url("https://wallpapercave.com/wp/wp3728431.jpg");
  background-size: cover;
}

h2 {
  text-align: center;
}

.tobiasImage {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tobiasCrying {
  display: block;
  top: 10px;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  height: 40%;
}

.invisible {
  display: none;
}




.quiz {
  position: static;
  margin-top: 50px;
  transform: translateX(50%);
}

#quiz_form div {
  margin-left: 25px;
}

.gameDirections {
  background-color: white;
  display: block;
  top: 0;
  text-align: center;
  margin: -100px 300px 500px 300px;
  border-radius: 10px;
}

#hide {
  display: none;
}
.hideEle {
  visibility: hidden;
}
.showEle {
  display: block;
}
#welcome {
  background-image: url(519e27566bb3f7624c00000d.jpeg);
  background-color: #000;
}

#enter-question {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#header {
  font-family: "Patua-One";
  font-size: 50px;
  font-weight: normal;
}

#music-player {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#welcome-header {
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

#stepTwo {
  border-radius: 10px;
}

#stepOne {
  width: 100%;
  /* margin-left: 26%; */
  top: 50px;
  position: absolute;
}
#stepOne h2 {
  text-align: center;
}

#returnMain {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

#enter-buttons {
  display: flex;
  justify-content: center;
}

.info-title {
  font-size: 28px;
}


#info {
  font-size: 20px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 17px;

}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}